<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Loader Example</title>
  <link rel="stylesheet" href="static/css/home.css">
  <link rel="icon" href="static/image/open.png" type="image/png">
</head>
<body>
    <header class="navbar">
      <div class="left-section">
        <div class="logo">Bazar</div>
        <nav>
          <a href="#">Home</a>
          <a href="#">Auctions</a>
          <a href="#">Contact</a>
        </nav>
      </div>
    </header>
  
    <main class="card-container" id="cardContainer">
      <!-- Cards will be injected here -->
    </main>
  <script src="static/js/home.js"></script>
</body>
</html>
