<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login | BAZAR</title>
  <link rel="stylesheet" href="/static/css/login-form-style.css">
</head>
<body>
  <div class="login-container">
    <h2>BAZAR Login</h2>
    <form id="login-form">
      <input type="text" name="username" placeholder="Username" required />
      <input type="password" name="password" placeholder="Password" required />
      <a href="http://localhost:8081/auth?auth-service=google">
        <img src="/static/image/google-icon.png" alt="icon" width="32" height="32">
      </a>
      <button type="submit">Login</button>
    </form>
    <div class="footer">Access is monitored.</div>
    <div id="result"></div>
  </div>
  <script src="/static/js/login-form-script.js" defer></script>

</body>
</html>

